/*Home*/
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}
/*About Me*/
#pic{
    width: 250px;
    height: 150px;
}
#intro b{
    font-size: 1.5rem;
    height: 150px;
    width: 250px;
}
/* Education */
#education{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    text-align: right;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("IMG/education2.jpg");
    margin-bottom: 50px;
}
#education .master{
    width: 250px;
    height: 150px;
    font-size: 1.5rem;
}
#education .bacholer{
    width: 250px;
    height: 150px;
    font-size: 1.5rem;
}
#education .hsc{
    width: 250px;
    height: 150px;
    font-size: 1.5rem;
}
/*Contact*/
.input{
    width: 80%;
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}